<h1>Stores</h1>
<ul>
  <% @stores.each do |store| %>
    <li class="store">
    <%= link_to store.name, store %>
     <% store.items.each do |item| %>
  <p>
    <strong>Name:</strong>
    <%= item.name %>
  </p>
<% end %>
    </li>
  <% end %>
</ul>
<%= link_to "New Store", new_store_path %>
