<h1>Items</h1>
<ul>
  <% @items.each do |item| %>
    <li class="item">
   <%= link_to item.name, item %>
   <% item.categories.each do |category| %>
  <p>
    <strong>Name:</strong>
    <%= category.name %>
  </p>
<% end %>
    </li>
  <% end %>
</ul>
<%= link_to "New Item", new_item_path %>
